.canvas {
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.backgroundImage {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: 1;
}

.characterImage {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    max-width: 50%;
    z-index: 2;
}

.dialogueFrame {
    position: absolute;
    bottom: 20px;
    left: 10px;
    width: 100%;
    height: 100px;
    background-color: rgba(0, 0, 0, 0.7);
    padding: 5px;
    border-radius: 5px;
    overflow-y: auto;
    z-index: 3;
}

.characterNameFrame {
    position: relative;
    font-weight: bold;
    color: #ffffff;
}

.dialogueText {
    color: white;
    font-size: inherit;
    text-align: left;
}
.characterName {
    color: white;
    font-size: 14px;
    text-align: left;
}