/* Novel.module.css */

/* Container for the entire novel section */
.container {
  max-width: 1600px; 
  margin: 0 auto; 
  padding: 20px; 
  background-color: #fdfdfd; 
  border-radius: 15px; 
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1); 
}

/* Header style for the section */
.header {
  text-align: center; 
  font-size: 2.5rem; 
  color: #2c3e50; 
  margin-bottom: 30px; 
}

/* Text section style for recommendations */
.textSection {
  font-size: 1.2rem; /* Sets the font size for the recommendation text */
  color: #34495e; /* Sets a darker blue color for the text */
  text-align: center; /* Centers the text */
  margin-bottom: 40px; /* Adds space below the text section */
}

/* Genre section container */
.genreSection {
  margin-bottom: 40px; 
}

/* Header for each genre with dynamic background */
.genreHeader {
  padding: 15px; 
  border-radius: 10px; 
  color: white; 
  font-size: 1.5rem; 
  text-align: left; 
  margin-bottom: 20px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.15); 
}

/* Novel list that allows horizontal scrolling */
.novelList {
  display: flex; 
  flex-wrap: nowrap; 
  overflow-x: auto; 
  padding: 10px 0; 
  gap: 20px; 
}

/* Novel card style */
.novelCard {
  flex: 0 0 auto; 
  background-color: #ecf0f1; 
  border-radius: 10px; 
  text-align: center; 
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.15); 
  width: 200px; 
  text-decoration: none; 
  color: #2c3e50; 
  transition: transform 0.3s; 
}

.firstNovel {
  margin-left: 20px; 
}


/* Novel image style */
.novelImage {
  width: 100%;
  height: auto; 
  border-radius: 10px 10px 0 0; 
}

/* Novel title style */
.novelTitle {
  font-size: 1.1rem; 
  margin: 10px 0 0; 
  padding: 10px; 
}

/* No novels message style */
.noNovels {
  font-size: 1rem; 
  color: #999; 
  text-align: center; 
}

/* Hover effect for novel card */
.novelCard:hover {
  transform: scale(1.05); 
}

/* View count style */
.viewCount {
  font-size: 0.9rem;
  color: #7f8c8d; 
  margin-top: 5px;
  text-align: center; 
}
