.loadingContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: #f7f7f7;
    color: #333;
  }
  
  .loadingText {
    margin-top: 20px;
    font-size: 24px;
    font-weight: 500;
    color: #3498db;
    animation: rainbowText 2s infinite linear;
    font-family: 'Comic Sans MS', cursive, sans-serif;
  }
  
  /* Rainbow Text Animation */
  @keyframes rainbowText {
    0% {
      color: #ff0000;
    }
    14% {
      color: #ff9900;
    }
    28% {
      color: #33cc33;
    }
    42% {
      color: #3399ff;
    }
    57% {
      color: #9933ff;
    }
    71% {
      color: #ff3399;
    }
    85% {
      color: #ffcc00;
    }
    100% {
      color: #ff0000;
    }
  }
  